*{
	padding: 0px;
	margin: 0px;
}
.box{
	float: left;
	padding: 5px;
}
.box_img{
	padding: 5px;
	border: 1px solid #cccccc; //设置边框
	box-shadow:0 0 5px #ccc;  //设置阴影
	    border-radius: 5px;  //设置圆角
}
img{
	width: 150px;
}
#container{
    position: relative;
}